spring:
  profiles:
    active:
    - dev
---
server:
  port: 8761
  
spring:
 profiles: dev
 application:
  name: spring-cloud-cloud-8761
eureka:
  instance:
    hostname: eureka8761.com 
    prefer-ip-address: true 
  client:
    register-with-eureka: false  
    fetch-registry: false 
    service-url:
     defaultZone: http://eureka8761:8761/eureka/
---
 
server:
  port: 8761
  
spring:
 profiles: test
 application:
  name: spring-cloud-cloud-8761
 
eureka:
  instance:
    hostname: eureka8761.com 
    prefer-ip-address: true 
  client:
    register-with-eureka: false  
    fetch-registry: false 
    service-url:
     defaultZone: http://eureka8761:8761/eureka/
